.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.test
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/prisma/dev.db
/docker-data
settings.json
auth.json
.nyc_output
coverage
scripts/exportDB.ts
/coverage*