@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root [data-theme='crimson'] {
	--theme-rounded-container: theme(borderRadius.sm);
	--theme-rounded-base: theme(borderRadius.sm);
}
