/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-rounded-container: theme(borderRadius.sm);
  --theme-rounded-base: theme(borderRadius.sm);
}